{% extends 'pages/base.html' %}

{% block content %}
<h1>About page</h1>
<p>The real power of templates is their ability to be extended. If you think about most web
sites, there is content that is repeated on every page (header, footer, etc). Wouldn’t it
be nice if we, as developers, could have one canonical place for our header code that
would be inherited by all other templates?
Well we can! Let’s create a base.html file containing a header with links to our two
pages. We could name this file anything but using base.html is a common convention.
Type Control+c and then create the new file.</p>
{% endblock %}